/*.iml
/*.ipr
/*.iws
/.classpath
/.factorypath
/.idea
/.project
/.settings
/nb*
/release.properties
/target

# These are needed if running in IDE without properties set
/ibderby
derby.log
/bin/
.mvn/wrapper/maven-wrapper.jar
.sts4-cache/
.github/
.mvn/
.editorconfig
.gitattributes
CONTRIBUTING.md
ICLA
ISSUE_TEMPLATE.md
LICENSE
license.txt
mvnw
mvnw.cmd
NOTICE
README.md
